* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
}

.main_background {
  background-color: #1f2732;
  width: 100vw;
  height: 100vh;
  color: #cee2e9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.advice_box {
  position: relative;
  width: 620px;
  height: 250px;
  background-color: #313b47;
  padding: 44px 32px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.advice_title {
  text-align: center;
  color: #53ffa9;
}

.advice_description {
  margin-top: 24px;
  text-align: center;
}

.advice_divider {
  margin-top: 24px;
  width: 100%;
}

.generate_advice_button {
  cursor: pointer;
  border: 0;
  width: 44px;
  height: 44px;
  position: absolute;
  bottom: -22px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  background: #53ffa9 url(./assets/icon-dice.svg) no-repeat center;
}